body img {
  width: 100%; }
body .container {
  max-width: 640px;
  max-height: 1136px;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: auto; }
  body .container .page1 .top {
    width: 100%;
    padding-top: 13.28126%;
    text-align: right; }
    body .container .page1 .top .cancel {
      max-width: 7.187%;
      padding-right: 2.81%;
      padding-top: 2.96%; }
  body .container .page1 .help {
    width: 64.22%;
    padding-right: 14.21%;
    padding-left: 21.5625%;
    padding-top: 3.75%; }
  body .container .page1 .finger-1 {
    position: relative;
    z-index: 0;
    width: 29.21875%;
    margin-top: 7.5%; }
  body .container .page1 .brightness {
    -webkit-animation: brightness 3s infinite , opacity 3s infinite; }
@-webkit-keyframes brightness {
  0%, 100% {
    -webkit-filter: brightness(0); }
  50% {
    -webkit-filter: brightness(10); } }
@-webkit-keyframes opacity {
  0%, 100% {
    -webkit-filter: opacity(30%); }
  50% {
    -webkit-filter: opacity(100%); } }
  body .container .page1 div {
    position: relative; }
    body .container .page1 div .finger-2 {
      max-width: 70%;
      position: absolute;
      z-index: 100;
      top: -22px;
      margin-left: -28%; }
  body .container .page1 .p1-title {
    width: 63.44%;
    margin-top: 16.09375%;
    margin-right: 17.34375%;
    margin-left: 19.21875%;
    margin-bottom: 12.65625%; }
  body .container .page1 .bottom {
    height: 95px; }
  body .container .page2 {
    background-color: black;
    display: none; }
    body .container .page2 img {
      max-width: 100%;
      vertical-align: top; }
  body .container .page3 {
    background-color: black;
    display: none;
    position: relative;
    z-index: 0; }
    body .container .page3 .top {
      padding-top: 13.28125%;
      text-align: right; }
      body .container .page3 .top .cancel {
        max-width: 7.187%;
        padding-right: 2.81%;
        padding-top: 2.96%; }
    body .container .page3 .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
    body .container .page3 .video-container iframe, body .container .page3 .video-container object, body .container .page3 .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    body .container .page3 .space {
      position: relative;
      max-width: 640px; }
      body .container .page3 .space .back {
        position: relative;
        z-index: 10; }
        body .container .page3 .space .back .face {
          max-width: 51.94%;
          padding-left: 5%; }
      body .container .page3 .space .front {
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 20%;
        text-align: center; }
        body .container .page3 .space .front div {
          text-align: center;
          position: relative;
          right: -50%; }
          body .container .page3 .space .front div:first-child {
            max-width: 26.875%;
            position: relative; }
            body .container .page3 .space .front div:first-child img {
              position: relative;
              width: 92%;
              right: -38%; }
          body .container .page3 .space .front div:last-child {
            max-width: 45.15625%;
            margin-top: 4.9375%;
            cursor: pointer; }
            body .container .page3 .space .front div:last-child img {
              width: 82%; }
    body .container .page3 .p3-title {
      background-color: black;
      text-align: center; }
      body .container .page3 .p3-title img {
        max-width: 73.78125%; }
    body .container .page3 .bottom {
      padding-top: 14.84375%;
      background-color: black; }

/*# sourceMappingURL=layout.css.map */
